@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/saade/filament-fullcalendar/resources/views/**/*.blade.php';

@theme {
    --color-main-primary: #4285F4;
    --color-main-secondary: #424242;
    --color-main-success: #34A853;
    --color-main-danger: #EA4335;
    --color-main-warning: #FBBC05;
    --color-main-info: #008080;
}
